@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Noto Sans Lao', 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Noto Sans Lao', 'Sora', sans-serif;
  -webkit-font-smoothing:  antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: #1a1a2e; }
::-webkit-scrollbar-thumb { background: #00d4aa; border-radius: 2px; }